<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Ncapsulate Node" value="..\Ncapsulate\Ncapsulate.Node" />
    <add key="Ncapsulate Bower" value="..\Ncapsulate\Ncapsulate.Bower" />
    <add key="Ncapsulate Karma" value="..\Ncapsulate\Ncapsulate.Karma" />
    <add key="Ncapsulate Grunt" value="..\Ncapsulate\Ncapsulate.Grunt" />
    <add key="Ncapsulate Gulp" value="..\Ncapsulate\Ncapsulate.Gulp" />
  </packageSources>
   <activePackageSource>
  </activePackageSource>
  <!--<disabledPackageSources />-->
</configuration>